@tailwind base;
@tailwind components;
@tailwind utilities;


.el-input.is-error .el-input__wrapper {
  box-shadow: 0 0 0 1px var(--el-color-danger) inset;
}
.el-input.is-error .el-input__wrapper {
  box-shadow: 0 0 0 1px var(--el-color-danger) inset;
}
.el-form-item.is-changed .el-input__wrapper, el-form-item.is-changed .el-checkbox.is_bordered {
  box-shadow: 0 0 0 1px var(--el-color-success) inset;
}

label.el-form-item__label, div.el-form-item__label {
  align-items: center;
}

.el-button.active {
  color: var(--el-button-active-text-color);
  border-color: var(--el-button-active-border-color);
  background-color: var(--el-button-active-bg-color);
  outline: 0;
}